# Code for my Final Project

In [14]:
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
import matplotlib.cm as cm
import matplotlib.colors as colors
import requests
import numpy as np
import pandas as pd

## I have prepared a Excel data sheet for this project from the web source of Atomic Energy Regualatory Board of India, that has no json/csv format
I have added the Data to my IBM project

In [15]:
# The code was removed by Watson Studio for sharing.

## Converting the Excel data into Pandas Data frame

In [16]:
# The code was removed by Watson Studio for sharing.

,S.No,Institution Name,Address,PinCode,City
0,1,Aarthi Scans,"40,Palayamkottai Road",628001,Thoothukudi
1,2,Stanley Diagnostics,Victoria Extension road,628001,Thoothukudi
2,3,Best daignostic Center,"7th Street middle, Bryant Nagar",628008,Thoothukudi
3,4,Apollo Diagnistics,"49A,1st street,Bryant Nagar",628008,Thoothukudi
4,5,Super Scans,"Kaliappa Pillai Street, Mattakadai",628001,Thoothukudi

In [17]:
df.shape

(39, 5)

## Getting the latitude and the longitude coordinates of each neighborhood

In [25]:
pip install geopandas

The following command must be run outside of the IPython shell:

    $ pip install geopandas

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [26]:
pip install geopy

The following command must be run outside of the IPython shell:

    $ pip install geopy

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [27]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

In [30]:
from geopy.extra.rate_limiter import RateLimiter
locator = Nominatim()
# 1 - conveneint function to delay between geocoding calls
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
# 2- - create location column
df['location'] = df['PinCode'].apply(geocode)
# 3 - create longitude, laatitude and altitude from location column (returns tuple)
df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)
# 4 - split point column into latitude, longitude and altitude columns
df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.18.1" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  from ipykernel import kernelapp as app

In [32]:
df.head()

,S.No,Institution Name,Address,PinCode,City,location,point,latitude,longitude,altitude
0,1,Aarthi Scans,"40,Palayamkottai Road",628001,Thoothukudi,"(Ханты-Мансийск, городской округ Ханты-Мансийс...","(60.97264786433424, 69.0344799726898, 0.0)",60.972648,69.034480,0.0
1,2,Stanley Diagnostics,Victoria Extension road,628001,Thoothukudi,"(Ханты-Мансийск, городской округ Ханты-Мансийс...","(60.97264786433424, 69.0344799726898, 0.0)",60.972648,69.034480,0.0
2,3,Best daignostic Center,"7th Street middle, Bryant Nagar",628008,Thoothukudi,"(Mukkudu, Thoothukudi, Thoothukkudi, Thoothukk...","(8.7877396, 78.1236177, 0.0)",8.787740,78.123618,0.0
3,4,Apollo Diagnistics,"49A,1st street,Bryant Nagar",628008,Thoothukudi,"(Mukkudu, Thoothukudi, Thoothukkudi, Thoothukk...","(8.7877396, 78.1236177, 0.0)",8.787740,78.123618,0.0
4,5,Super Scans,"Kaliappa Pillai Street, Mattakadai",628001,Thoothukudi,"(Ханты-Мансийск, городской округ Ханты-Мансийс...","(60.97264786433424, 69.0344799726898, 0.0)",60.972648,69.034480,0.0

## Here, we select the Tirunelveli city that lies in the middle of Thoothukudi and Kanyakumari cities

In [34]:
address = 'Tirunelveli, India'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of the City of Tirunelveli are {}, {}.'.format(latitude, longitude))

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.18.1" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  app.launch_new_instance()

The geograpical coordinate of the City of Tirunelveli are 8.8082342, 77.8114843.

In [35]:
CLIENT_ID = 'V1OVEOGKCB3MTGBJUMYDGWN4TJPA3VFMOQK0KVNJGOXPHTDE' # your Foursquare ID
CLIENT_SECRET = 'CR314FBCARORO5LIXCCFXC1HGYNZPKZKKMFNSSSB2N1JLC52' # your Foursquare Secret
VERSION = '20200506' # Foursquare API version
LATITUDE='8.8082342'
LONGITUDE='77.8114843'

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: V1OVEOGKCB3MTGBJUMYDGWN4TJPA3VFMOQK0KVNJGOXPHTDE
CLIENT_SECRET:CR314FBCARORO5LIXCCFXC1HGYNZPKZKKMFNSSSB2N1JLC52

In [36]:
df_t= df[df['City'].str.contains('Tirunelveli')]
to_data = df_t.reset_index(drop=True)
to_data

,S.No,Institution Name,Address,PinCode,City,location,point,latitude,longitude,altitude
0,16,Medall Diagnostics,"10/5,Bypass road",627003,Tirunelveli,"(Palayamkottai, Tirunelveli Kattabo, Tamil Nad...","(8.726356289189562, 77.7218275094003, 0.0)",8.726356,77.721828,0.0
1,17,Aarthi Scans and Labs,"Lakshmi Complex, North High road",627002,Tirunelveli,"(Palayamkottai, Tirunelveli Kattabo, Tamil Nad...","(8.72159774, 77.7378858, 0.0)",8.721598,77.737886,0.0
2,18,Anderson Daignostics and Labs,"Anna Salai, Vannarpettai",627003,Tirunelveli,"(Palayamkottai, Tirunelveli Kattabo, Tamil Nad...","(8.726356289189562, 77.7218275094003, 0.0)",8.726356,77.721828,0.0
3,19,RIO Scans and Labs,"Ezhil Nagar, NGO Colony",627007,Tirunelveli,"(Palayamkottai, Tirunelveli Kattabo, Tamil Nad...","(8.69764295341798, 77.73958474672634, 0.0)",8.697643,77.739585,0.0
4,20,Medall Healthcare pvt limited,"Salai Street, Vannapettai",627003,Tirunelveli,"(Palayamkottai, Tirunelveli Kattabo, Tamil Nad...","(8.726356289189562, 77.7218275094003, 0.0)",8.726356,77.721828,0.0
5,21,Medall Diagnostics,Chermadevi Road,627004,Tirunelveli,"(Tirunelveli, Tirunelveli Kattabo, Tamil Nadu,...","(8.72443596, 77.68446775999999, 0.0)",8.724436,77.684468,0.0
6,22,Aarthi Scans and Labs,"Trivandrum Road, Vannarpettai",627003,Tirunelveli,"(Palayamkottai, Tirunelveli Kattabo, Tamil Nad...","(8.726356289189562, 77.7218275094003, 0.0)",8.726356,77.721828,0.0
7,23,Apollo Diagnostics,"Muthamil ROAD, Vannarpettai",627003,Tirunelveli,"(Palayamkottai, Tirunelveli Kattabo, Tamil Nad...","(8.726356289189562, 77.7218275094003, 0.0)",8.726356,77.721828,0.0
8,24,SRL Diagnostics,Palayamkottai,627002,Tirunelveli,"(Palayamkottai, Tirunelveli Kattabo, Tamil Nad...","(8.72159774, 77.7378858, 0.0)",8.721598,77.737886,0.0

## Cluster the neighborhoods in Tirunelveli & Analyse the data for similarity

In [37]:
to_data.loc[0, 'Address']

'10/5,Bypass road'

In [38]:
neighbourhood_latitude = to_data.loc[0, 'latitude'] # neighbourhood latitude value
neighbourhood_longitude = to_data.loc[0, 'longitude'] # neighbourhood longitude value

neighbourhood_name = to_data.loc[0, 'Address'] # neighbourhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighbourhood_name, 
                                                               neighbourhood_latitude, 
                                                               neighbourhood_longitude))

Latitude and longitude values of 10/5,Bypass road are 8.726356289189562, 77.7218275094003.

## To get the top 100 venus are within a radius from the centroid of 1500meters

In [51]:
LIMIT = 100
radius =1500

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighbourhood_latitude, 
    neighbourhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=V1OVEOGKCB3MTGBJUMYDGWN4TJPA3VFMOQK0KVNJGOXPHTDE&client_secret=CR314FBCARORO5LIXCCFXC1HGYNZPKZKKMFNSSSB2N1JLC52&v=20200506&ll=8.726356289189562,77.7218275094003&radius=1500&limit=100'

In [52]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5eb2093e618f43001b1fb9a2'},
 'response': {'headerLocation': 'Tirunelveli',
  'headerFullLocation': 'Tirunelveli',
  'headerLocationGranularity': 'city',
  'totalResults': 11,
  'suggestedBounds': {'ne': {'lat': 8.739856302689576,
    'lng': 77.73546012524245},
   'sw': {'lat': 8.712856275689548, 'lng': 77.70819489355814}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c497fe46594be9a94642625',
       'name': 'R M K V',
       'location': {'address': 'Vannarpettai',
        'lat': 8.727168843225812,
        'lng': 77.72281649522976,
        'labeledLatLngs': [{'label': 'display',
          'lat': 8.727168843225812,
          'lng': 77.72281649522976}],
        'distance': 141,
        'postalCode': '627003',
        'cc': 'IN',
        'city': 'Tirunelveli',
        'state': 'Tamil Nadu',
        'country': 'India',
        'formattedAddress': ['Vannarpettai',
         'Tirunelveli 627003',
         'Tamil Nadu',
         'India']},
       'categories': [{'id': '4bf58dd8d48988d103951735',
         'name': 'Clothing Store',
         'pluralName': 'Clothing Stores',
         'shortName': 'Apparel',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/apparel_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c497fe46594be9a94642625-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '50ddab36e4b05736e665d45c',
       'name': 'Hotel Vaira maligai',
       'location': {'lat': 8.727283463235588,
        'lng': 77.72713700328777,
        'labeledLatLngs': [{'label': 'display',
          'lat': 8.727283463235588,
          'lng': 77.72713700328777}],
        'distance': 593,
        'cc': 'IN',
        'country': 'India',
        'formattedAddress': ['India']},
       'categories': [{'id': '4bf58dd8d48988d10f941735',
         'name': 'Indian Restaurant',
         'pluralName': 'Indian Restaurants',
         'shortName': 'Indian',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/indian_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-50ddab36e4b05736e665d45c-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '515582f2e889d53a69a32ba9',
       'name': 'Srijanakiram Hotels',
       'location': {'address': '30, Madurai Road',
        'lat': 8.73212301947244,
        'lng': 77.71104097366332,
        'labeledLatLngs': [{'label': 'display',
          'lat': 8.73212301947244,
          'lng': 77.71104097366332}],
        'distance': 1349,
        'postalCode': '627001',
        'cc': 'IN',
        'city': 'Tirunelveli',
        'state': 'Tamil Nadu',
        'country': 'India',
        'formattedAddress': ['30, Madurai Road',
         'Tirunelveli 627001',
         'Tamil Nadu',
         'India']},
       'categories': [{'id': '4bf58dd8d48988d1fa931735',
         'name': 'Hotel',
         'pluralName': 'Hotels',
         'shortName': 'Hotel',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []},
       'venuePage': {'id': '51905472'}},
      'referralId': 'e-0-515582f2e889d53a69a32ba9-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4e7d9645e5fa0305fe2f5f6b',
       'name': "King's Chic Arasan Hotel",
       'location': {'address': 'V. V. Towers',
        'crossStreet': 'Trivandrum Road',
        'lat': 8.72463621714457,
        'lng': 77.73158030016376,
        'labeledLatLngs': [{'label': 'display',
          'lat': 8.72463621714457,
          'lng': 77.73158030016376}],
        'distance': 1090,
        'postalCode': '627002',
        'cc': 'IN',
        'city': 'Tirunelveli',
        'state': 'Tamil Nadu',
        'country': 'India',
        'formattedAddress': ['V. V. Towers (Trivandrum Road)',
         'Tirunelveli 627002',
         'Tamil Nadu',
         'India']},
       'categories': [{'id': '4bf58dd8d48988d10f941735',
         'name': 'Indian Restaurant',
         'pluralName': 'Indian Restaurants',
         'shortName': 'Indian',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/indian_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4e7d9645e5fa0305fe2f5f6b-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '50f16b15e4b033e18de18ff9',
       'name': 'Apple ttree',
       'location': {'address': 'North By Pass',
        'crossStreet': 'Vannarpettai',
        'lat': 8.731389539650259,
        'lng': 77.72203956846751,
        'labeledLatLngs': [{'label': 'display',
          'lat': 8.731389539650259,
          'lng': 77.72203956846751}],
        'distance': 560,
        'postalCode': '627003',
        'cc': 'IN',
        'city': 'Tirunelveli',
        'state': 'Tamil Nadu',
        'country': 'India',
        'formattedAddress': ['North By Pass (Vannarpettai)',
         'Tirunelveli 627003',
         'Tamil Nadu',
         'India']},
       'categories': [{'id': '4bf58dd8d48988d1fa931735',
         'name': 'Hotel',
         'pluralName': 'Hotels',
         'shortName': 'Hotel',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-50f16b15e4b033e18de18ff9-4'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '51868d43498e6f602ae5343d',
       'name': 'Sri Janakiram Hotels',
       'location': {'lat': 8.732319,
        'lng': 77.711029,
        'labeledLatLngs': [{'label': 'display',
          'lat': 8.732319,
          'lng': 77.711029}],
        'distance': 1360,
        'cc': 'IN',
        'country': 'India',
        'formattedAddress': ['India']},
       'categories': [{'id': '4bf58dd8d48988d10f941735',
         'name': 'Indian Restaurant',
         'pluralName': 'Indian Restaurants',
         'shortName': 'Indian',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/indian_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-51868d43498e6f602ae5343d-5'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '51d13b88498ef874192aea74',
       'name': 'Marrybrown',
       'location': {'lat': 8.724888586795725,
        'lng': 77.72135206759728,
        'labeledLatLngs': [{'label': 'display',
          'lat': 8.724888586795725,
          'lng': 77.72135206759728}],
        'distance': 171,
        'cc': 'IN',
        'country': 'India',
        'formattedAddress': ['India']},
       'categories': [{'id': '4bf58dd8d48988d16c941735',
         'name': 'Burger Joint',
         'pluralName': 'Burger Joints',
         'shortName': 'Burgers',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/burger_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-51d13b88498ef874192aea74-6'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4f75ca0c7beb90b36ea5fbc8',
       'name': 'World of Titan',
       'location': {'address': '22, Trivandrum Road,Palayamkottai',
        'lat': 8.725494031484535,
        'lng': 77.73155794439785,
        'labeledLatLngs': [{'label': 'display',
          'lat': 8.725494031484535,
          'lng': 77.73155794439785}],
        'distance': 1074,
        'postalCode': '627002',
        'cc': 'IN',
        'city': 'Tirunelveli',
        'state': 'Tamil Nadu',
        'country': 'India',
        'formattedAddress': ['22, Trivandrum Road,Palayamkottai',
         'Tirunelveli 627002',
         'Tamil Nadu',
         'India']},
       'categories': [{'id': '4bf58dd8d48988d102951735',
         'name': 'Accessories Store',
         'pluralName': 'Accessories Stores',
         'shortName': 'Accessories',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/apparel_accessories_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4f75ca0c7beb90b36ea5fbc8-7'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '50c6fdc7e4b041c64c5bd572',
       'name': 'Arasan Bakery',
       'location': {'address': 'Opp. Of Railway Station',
        'crossStreet': 'Next to Old Bus Station',
        'lat': 8.731146821066499,
        'lng': 77.71059743595491,
        'labeledLatLngs': [{'label': 'display',
          'lat': 8.731146821066499,
          'lng': 77.71059743595491}],
        'distance': 1345,
        'cc': 'IN',
        'city': 'Tirunelveli',
        'state': 'Tamil Nadu',
        'country': 'India',
        'formattedAddress': ['Opp. Of Railway Station (Next to Old Bus Station)',
         'Tirunelveli',
         'Tamil Nadu',
         'India']},
       'categories': [{'id': '4bf58dd8d48988d16a941735',
         'name': 'Bakery',
         'pluralName': 'Bakeries',
         'shortName': 'Bakery',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bakery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-50c6fdc7e4b041c64c5bd572-8'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4dd3fcf7d22dc96be812f610',
       'name': 'Sree Bharani Hotels',
       'location': {'address': '29,Madurai Road',
        'lat': 8.732083258109107,
        'lng': 77.71082662553164,
        'labeledLatLngs': [{'label': 'display',
          'lat': 8.732083258109107,
          'lng': 77.71082662553164}],
        'distance': 1368,
        'cc': 'IN',
        'city': 'Tirunelveli',
        'state': 'Tamil Nadu',
        'country': 'India',
        'formattedAddress': ['29,Madurai Road',
         'Tirunelveli',
         'Tamil Nadu',
         'India']},
       'categories': [{'id': '4bf58dd8d48988d1fa931735',
         'name': 'Hotel',
         'pluralName': 'Hotels',
         'shortName': 'Hotel',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4dd3fcf7d22dc96be812f610-9'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4f65c767e4b015497c671bb9',
       'name': 'Santhi Sweets',
       'location': {'lat': 8.730970577176073,
        'lng': 77.71006638512294,
        'labeledLatLngs': [{'label': 'display',
          'lat': 8.730970577176073,
          'lng': 77.71006638512294}],
        'distance': 1392,
        'cc': 'IN',
        'country': 'India',
        'formattedAddress': ['India']},
       'categories': [{'id': '4bf58dd8d48988d1d0941735',
         'name': 'Dessert Shop',
         'pluralName': 'Dessert Shops',
         'shortName': 'Desserts',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/dessert_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4f65c767e4b015497c671bb9-10'}]}]}}

## We have obtained 11 results searched by Foursquare.Let's categorize the venues for FeatureExtraction

In [53]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

## Preprocess the jsonfile and structure the data into a pandas dataframe

In [54]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                       name         categories       lat        lng
0                   R M K V     Clothing Store  8.727169  77.722816
1       Hotel Vaira maligai  Indian Restaurant  8.727283  77.727137
2       Srijanakiram Hotels              Hotel  8.732123  77.711041
3  King's Chic Arasan Hotel  Indian Restaurant  8.724636  77.731580
4               Apple ttree              Hotel  8.731390  77.722040

In [55]:
# let's do the one hot encoding
T_onehot = pd.get_dummies(nearby_venues[['categories']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
T_onehot['name'] = nearby_venues['name'] 

# move neighborhood column to the first column
fixed_columns = [T_onehot.columns[-1]] + list(T_onehot.columns[:-1])
T_onehot = T_onehot[fixed_columns]

T_onehot.head()

,name,Accessories Store,Bakery,Burger Joint,Clothing Store,Dessert Shop,Hotel,Indian Restaurant
0,R M K V,0,0,0,1,0,0,0
1,Hotel Vaira maligai,0,0,0,0,0,0,1
2,Srijanakiram Hotels,0,0,0,0,0,1,0
3,King's Chic Arasan Hotel,0,0,0,0,0,0,1
4,Apple ttree,0,0,0,0,0,1,0

In [56]:
T_onehot.shape

(11, 8)

In [57]:
T_grouped = T_onehot.groupby('name').mean().reset_index()
T_grouped

,name,Accessories Store,Bakery,Burger Joint,Clothing Store,Dessert Shop,Hotel,Indian Restaurant
0,Apple ttree,0,0,0,0,0,1,0
1,Arasan Bakery,0,1,0,0,0,0,0
2,Hotel Vaira maligai,0,0,0,0,0,0,1
3,King's Chic Arasan Hotel,0,0,0,0,0,0,1
4,Marrybrown,0,0,1,0,0,0,0
5,R M K V,0,0,0,1,0,0,0
6,Santhi Sweets,0,0,0,0,1,0,0
7,Sree Bharani Hotels,0,0,0,0,0,1,0
8,Sri Janakiram Hotels,0,0,0,0,0,0,1
9,Srijanakiram Hotels,0,0,0,0,0,1,0
10,World of Titan,1,0,0,0,0,0,0

## Top 7 venues are listed

In [63]:
num_top_venues = 7
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['name']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['name'] = T_grouped['name']

for ind in np.arange(T_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(T_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,name,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue
0,Apple ttree,Hotel,Indian Restaurant,Dessert Shop,Clothing Store,Burger Joint,Bakery,Accessories Store
1,Arasan Bakery,Bakery,Indian Restaurant,Hotel,Dessert Shop,Clothing Store,Burger Joint,Accessories Store
2,Hotel Vaira maligai,Indian Restaurant,Hotel,Dessert Shop,Clothing Store,Burger Joint,Bakery,Accessories Store
3,King's Chic Arasan Hotel,Indian Restaurant,Hotel,Dessert Shop,Clothing Store,Burger Joint,Bakery,Accessories Store
4,Marrybrown,Burger Joint,Indian Restaurant,Hotel,Dessert Shop,Clothing Store,Bakery,Accessories Store

## Cluster Tirunelveli-Neighborhood with Kmeans clustering Algorithm

In [64]:
from sklearn.cluster import KMeans
kclusters = 5
T_grouped_clustering = T_grouped.drop('name', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(T_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([1, 3, 2, 2, 0, 0, 0, 1, 2, 1], dtype=int32)

In [65]:
pd.Series(kmeans.labels_).value_counts()

2    3
1    3
0    3
4    1
3    1
dtype: int64

In [74]:
!pip install folium
import folium 
import seaborn as sns

Requirement already satisfied: folium in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.10.1)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Requirement already satisfied: branca>=0.3.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (0.4.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2020.4.5.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2>=2.9->folium) (1.1.0)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from branca>=0.3.0->folium) (1.12.0)

In [80]:
Latitude=8.726356289189562
Longitude=77.7218275094003
def clusterMap(neighborhoods_venues_sorted,latitude,longitude):
    # create map
    map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)
    # set color scheme for the clusters
    kclusters = max(neighborhoods_venues_sorted['Cluster Labels'] + 1) #kclusters is the number K chosen. deduce from labels
    x = np.arange(kclusters)  
    ys = [i + x + (i*x)**2 for i in range(kclusters)]
    colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
    rainbow = [colors.rgb2hex(i) for i in colors_array]
    # add markers to the map
    markers_colors = []
    for lat, lon, poi, cluster in zip(neighborhoods_venues_sorted['Latitude'], neighborhoods_venues_sorted['Longitude'], neighborhoods_venues_sorted['Neighborhood'], neighborhoods_venues_sorted['Cluster Labels']):
        label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
        folium.CircleMarker(
            [lat, lon],
            radius=5,
            popup=label,
            color=rainbow[cluster-1],
            fill=True,
            fill_color=rainbow[cluster-1],
            fill_opacity=0.7).add_to(map_clusters)
    return(map_clusters)
clusterMap

Using 5 clusters, the model essentially aggregated equal amount of the data into 3 clusters.
Out of 11 neighborhoods being considered, cluster2,1,0 has each 3venues. The remaining 2 neighborhoods were spread among clusters 4&3.